
.header {
  position: fixed;         
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;            
  background-color: #2e7d32; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  z-index: 1000;           
}

.logo {
  font-size: 26px;
  font-weight: bold;
  color: white;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.nav a {
  text-decoration: none;  
  font-weight: bold;       
  color: white;           
  font-size: 18px;
}

.nav a.active {
  color: #c8e6c9;       
}
.hero {
  margin-top: 380px; /* чтобы контент не прилипал к header */
  text-align: center;
  padding: 60px 20px;
}

.hero h1 {
  font-size: 36px;
  color: #2e7d32;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  color: #555;
  margin-bottom: 30px;
}

.cta-btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: #2e7d32;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  border-radius: 6px;
}
.cta-btn:hover {
  background-color: #1b5e20;
}



.how-it-works {
  text-align: center;
  padding: 250px 20px;
}

.how-it-works h2 {
  font-size: 28px;
  color: #2e7d32;
  margin-bottom: 30px;
}

.steps {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.step {
  background: #c8e6c9;
  padding: 20px 30px;
  border-radius: 8px;
  font-weight: bold;
  color: #2e7d32;
}
